.option_box {
    -fx-background-color: transparent;
}
.logoutButton {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-border: solid 2px black;
    -fx-background-radius: 20px;
}

.logoutButton:hover {
    -fx-background-color: #00B8A9;
}

.edit_button {
    -fx-cursor: hand;
    -fx-border: solid 2px black;
    -fx-background-radius: 15px;
}
.edit_button:hover {
    -fx-background-color: green;
}

.close_button:hover {
    -fx-fill:red;
    -fx-cursor: hand;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;

}
.table-view .table-cell {
    -fx-font-size: 15px;
}

.select:hover {
    -fx-cursor: hand;
}

.option_box {
    -fx-background-color: transparent;
}

.option_box:hover {
    -fx-cursor: hand;
    -fx-background-color: #00B8A9;
}

